
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Yaba-In / SDK Games</h4>
                <p class="card-category">
                    Contact
                    <a target="_blank" href="https://www.yaba-in.000webhost.com/"> Yaba-In </a>or<a target="_blank" href="https://www.sdkgames.com//"> SDK Games Africa </a>for your software solution needs
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="iframe-container d-none d-lg-block">
                            <iframe src="http://www.sdkgames.com/">
                                <p>Your browser does not support iframes.</p>
                            </iframe>
                        </div>
                        <div class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">
                            <iframe src="http://www.sdkgames.com/">
                                <p>Your browser does not support iframes.</p>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </div>
</div>
