<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        IRT_3 Team
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="# ">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with <i class="fa fa-heartbeat" aria-hidden="true"></i> by
            <a href="#" target="_blank">IRT_3 Team</a> for better dental follow-up.
        </div>
    </div>
</footer>
