<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" style="background-color: rgb(247, 240, 240) !important;">
  <a class="navbar-brand mt-3" routerLink="/dashboard">
   <img src="./../../../assets/img/d-food_logo.png" routerLink="/dashboard" alt="logo" class="logo">
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link ml-5" >
        <!--Icon ShoppingCart -->
        <i class="fa fa-shopping-cart fa-lg" routerLink="/shopping-cart" (click)="isCollapsed = true" style="margin-left: 75px; color:rgb(156, 22, 19) !important; width:6; height:6;"></i>
        <span class="badge badge-danger badge-pill pt-1 pb-1 ml-1" *ngIf="cart$ | async as cart" style="background-color: rgb(255, 196, 0); color: black;">
          {{ cart.totalItemsCount }}</span>
      </a>
    </li>

  </ul>
</nav>
