<div class="logo">
    <a href="#" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/d-food_logo.jpeg" />
        </div>
        D-Food
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()"><br>
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" routerLink="/shopping-cart" (click)="isCollapsed = true">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="notification" *ngIf="cart$ | async as cart">{{ cart.totalItemsCount }}</span>
                    <p>
                        <span class="d-lg-none d-md-block">Mon panier</span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Ma session</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <!-- <a class="dropdown-item" href="javascript:void(0)" (click)="showNotification('top','center', 'info')"><i class="fa fa-user fa-2x" aria-hidden="true"></i>. Account</a> -->
                    <a class="dropdown-item" routerLink="/my/orders" (click)="isCollapsed = true"><i class="fa fa-bookmark fa-2x" aria-hidden="true"></i>. Commandes</a>
                    <a class="dropdown-item" routerLink="/admin/orders" (click)="isCollapsed = true"><i class="fa fa-file fa-2x" aria-hidden="true"></i>. Gérer les commandes</a>
                    <a class="dropdown-item" routerLink="/admin/products" (click)="isCollapsed = true"><i class="fa fa-book fa-2x" aria-hidden="true"></i>. Gérer les produits</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="showNotification('top','center', 'info')"><i class="fa fa-cog fa-spin fa-2x fa-fw"></i>. Seting</a>
                    <a routerLink="/login" (click)="logOut()" class="dropdown-item" (click)="isCollapsed = true"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>. Déconnexion</a>
                    
                    <!-- <a class="dropdown-item" href="javascript:void(0)"
                        (click)="showNotification('top','center', 'info')"><i class="fa fa-user fa-2x"
                            aria-hidden="true"></i>. Account</a>
                    <a class="dropdown-item" href="javascript:void(0)"
                        (click)="showNotification('top','center', 'info')"><i
                            class="fa fa-cog fa-spin fa-2x fa-fw"></i>. Seting</a>
                    <a class="dropdown-item" href="javascript:void(0)"
                        (click)="showNotification('top','right', 'danger')"><i class="fa fa-sign-out fa-2x"
                            aria-hidden="true"></i>. Sign Out</a> -->
                </div>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="notification">4</span>
                    <p>
                        <span class="d-lg-none d-md-block">Notifications</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="javascript:void(0)"
                        (click)="showNotification('top','left', 'warning')">Flambel SANOU responded to your email</a>
                    <a class="dropdown-item" href="javascript:void(0)"
                        (click)="showNotification('top','left', 'warning')">You have 5 new patients</a>
                    <a class="dropdown-item" href="javascript:void(0)"
                        (click)="showNotification('top','left', 'warning')">Dr. Pierre Ngamaleu took 30 days off</a>
                    <a class="dropdown-item" href="javascript:void(0)"
                        (click)="showNotification('top','left', 'warning')">Broken dental micromotors</a>
                </div>
            </li> -->
        </ul>
    </div>
    <br>
    <ul class="nav">
        <li routerLinkActive="active" class="nav-item" routerLink="/dashboard" [class.active]="!category">
            <a class="nav-link">
                Toutes les catégories</a>
        </li>
        <li routerLinkActive="active" *ngFor="let c of categories$ | async" routerLink="/dashboard"
            [queryParams]="{ category: c.key }" [class.active]="category == c.key" class="nav-item">
            <a class="nav-link">{{ c.name }}</a>
        </li>
    </ul>
</div>