<div class="main-content" style="background-color: rgb(213, 194, 169);">
  <div class="alert alert-warning">
    <b> Note: </b><marquee behavior="" direction="left"> Les livraisons se font à partir de 12 heure dans Akwa, Bali et bonapriso.   Pour des livraisons à domicile, à ce montant total s'ajouterons les frais de transport (200 FCFA) et conserve ( 100 FCFA / gamelle et 50 FCFA pour un sac plastique).
    </marquee>
  </div>
  <div class="container-fluid">
      <div class="row" *ngIf="cart$ | async as cart">

          <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let p of filteredProducts; let i= index">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <app-product-card [product]="p" [shopping-cart]="cart"></app-product-card>
                    </div>
                  </div>
                    <div *ngIf="(i+1) % 2 === 0" class="w-100"></div>
              </div>
          </div>
          
      </div>
  </div>
</div>
