body{
    background-color: rgb(238, 237, 237);
  }

.navbar{
  border-bottom:2px solid #942626;
  padding-bottom:25px
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

.d-red{
  color: rgb(156, 22, 19) !important;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
input:checked + .slider {
  background-color: #ba8e1e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f3b821;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(24, 20, 12);
  -webkit-transition: .4s;
  transition: .4s;
}



  /* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "assets/css/pe-icon-7-stroke.css";
@import "assets/css/demo.css";
body { margin: 0;
  background-color: rgba(247, 247, 241, 0.986) !important;
    }

    .linear-gradient {
      background: linear-gradient(to right, #f59348, white);
    }
    .linear-gradient2 {
      background: linear-gradient(to top, #f59348, white);
    }
    .linear-gradient3 {
      background: linear-gradient(to top, #f59348, white);
    }
    
    textarea:focus,
    select:focus,
    form input[type=text]:focus,
    form input[type=date]:focus,
    form input[type=number]:focus,
    form input[type=password]:focus{
      display: block;
      box-shadow: 6px 6px 0px #e2e1b0c1 !important;
    	border-color: rgb(156, 22, 19)!important;
}

/* Style the tab */

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.center-div {
  margin: 0 auto;
  width: 100px; 
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.responsive-img{
  display: block;
  width: 100%;
}
.breadcrumb-item a {
  color: #b48f30 !important;
  text-decoration: none;
  background-color: transparent;
}
.btn-group a {
  color: #b48f30 !important;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: rgb(156, 22, 19)!important;
  border-color: black !important;
}
.sidebar .nav-link .nav-icon {
  color: #b48f30 !important;
}
.sidebar .nav-link .nav-icon:hover{
  color: white !important;
}
.sidebar .nav-link .nav-icon:active{
  color: white !important;
}
.navbar {
}
.navbar-collapse {
  background-color: inherit !important;
}
.nav-item {
  font-size: 13px;
}
.nav-link-mr {
  margin-right: 7%;
}
.bottom-footer {
  background-color: rgb(154, 149, 149);
}
.card-index {
  color: rgba(0, 0, 0, 0.5)!important;
}

.card2 {
  color: rgba(0, 0, 0, 0.5);
  width: 85%;
  margin-left: 8%;
}

.tree-card {
  margin-bottom: 1%;
}

.container-index {
  padding-top: 2%;
  padding-bottom: 2%;
}

.page-footer {
  background-color: rgba(0, 0, 0, 0.54);
}

.logo {
  border-radius: 0px;
  height: 40px;
}

.next-button {
  color: black;
  background-color: #f59348;
}

.mdl-layout-registration {
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 15%;
  margin-right: 25%;
  color: #f5f5f5;
}

.text-padding {
  margin-left: 5%;
}

.div-magin {
  margin-top: 5%;
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
  }
}

.view,
body,
html {
  height: 80%;
}

.page-footer {
  background-color: rgba(0, 0, 0, 0.54);
}

@media only screen and (max-width: 768px) {
  .navbar {
  }
  .navbar-collapse {
  }
}

.htitle {
  font-size: 50px;
}

.btn-yellow {
  color: black;
}

.title-card {
  color: black;
  margin-top: 5%;
}

.full-title {
  margin-right: 5%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.container1 {
  background-color: #fee27d;
}

.container-not-magin {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
}

.container-registration {
  margin-top: 2%;
  margin-bottom: 2%;
}

.form1 {
  width: 700px;
}

.title-form {
  color: rgba(0, 0, 0, 0.6);
}

.field-form {
  border-bottom-color: rgba(0, 0, 0, 0.32);
  background-color: #fee27d;
}

.sub-title {
  margin-top: 15%;
}

.submit-button {
  margin-bottom: 2%;
  margin-top: 5%;
  margin-left: 46%;
  color: #cfaa83;
  background-color: black;
}

.register-button {
  color: #f59348;
}

.profile {
  width: 109px;
  height: 109px;
}

.text-icon {
  color: rgba(0, 0, 0, 0.6);
}

.sparator {
  width: 50%;
  margin-left: 0%;
  margin-bottom: 10%;
}

.contener2 {
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.image-back {
  width: 103%;
  height: 620px;
}

.container3 {
  margin-top: 5%;
}
.mask .card {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 0;
  word-wrap: break-word !important;
  background-color: rgb(8, 8, 8) !important;
  background-clip: border-box !important;
  border: 1px solid rgba(0,0,0,.125) !important;
  border-radius: .25rem !important;
}

.container-desk .card {
  width: 30px !important;
  height: 370px !important;
}

.card-back {
  background: black;
  opacity: 0.8;
  width: 70%;
  height: 420px;
}

.content-card {
  margin-left: 7%;
}

.jaune {
  color: #f59348;
}
.bg-jaune {
  background-color: #f59348;
}

.row .btn{
  background-color: rgb(156, 22, 19)!important;

}

.footer-card {
  color: #f59348;
  margin-left: 10%;
}

.sub-indication {
  font-size: 11px;
  margin-left: 5%;
}

.textarea-marin {
  margin-top: 10%;
}

.carousel-text {
  font-size: 20px;
}

.description-profil {
  margin-bottom: 1%;
}

.signature {
  width: 90px;
  height: 60px;
  margin-top: 16%;
}

.title-profil {
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.tab-div {
  margin-bottom: 2%;
  border: black;
}

.link-card:hover {
  background-color: black;
  color: white;
}

.link-h:focus {
  color: #f59348;
}
.Commitment {
  padding: 0%;
}
.mask-margin {
  margin-left: 10%;
  margin-top: 15%;
}

.field {
  border-color: #757c88;
  height: 70%;
  background-color: transparent;
}
.cont-login {
  margin-top: 15%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-label {
  border: 1px solid rgb(126, 124, 124);
  width: 200%;
}
.tab-group {
  border: 1px solid;
  border-left-color: rgb(126, 124, 124);
  border-right-color: rgb(126, 124, 124);
  border-bottom-color: rgb(126, 124, 124);
  border-top-color: transparent;
}
.user-profil {
  color: rgba(0, 0, 0, 0.6);
}

.mat-tab-label-active {
  background-color: #f59348;
}

nav .nav-item .nav-link {
  color: black !important;
  font-size: large;
}
nav .nav-item .nav-link:hover {
  color: rgb(156, 22, 19)!important;
}

.mat-header {
  background-color: rgb(182, 179, 179);
}
.mat-body {
  background-color: rgb(212, 209, 209);
  padding: 2%;
}
.div-border2 {
  border: 1px solid;
  border-color: rgba(126, 124, 124, 0.892);
  padding: 2%;
}

