<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title ">Patient list</h4>
                      <p class="card-category"> All patients registered</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-warning">
                              <th>
                                  ID
                              </th>
                              <th>
                                  Name
                              </th>
                              <th>
                                  Country
                              </th>
                              <th>
                                  Phone number
                              </th>
                              <th>
                                  Email
                              </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          P000010
                                      </td>
                                      <td>
                                          TAGNE Jona
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          655889944
                                      </td>
                                      <td>
                                          j.tagne@gmail.com
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          P000011
                                      </td>
                                      <td>
                                          MAGNE Janne
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          698469944
                                      </td>
                                      <td>
                                          j.magne@gmail.com
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          P000012
                                      </td>
                                      <td>
                                          TAGNE Jona
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          655889944
                                      </td>
                                      <td>
                                          j.tagne@gmail.com
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          P000013
                                      </td>
                                      <td>
                                          MAGNE Janne
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          655889944
                                      </td>
                                      <td>
                                          j.tagne@gmail.com
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          P000014
                                      </td>
                                      <td>
                                          TAGNE Jona
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          655889944
                                      </td>
                                      <td>
                                          j.tagne@gmail.com
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          P000015
                                      </td>
                                      <td>
                                          MAGNE Janne
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          655889944
                                      </td>
                                      <td>
                                          j.tagne@gmail.com
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          P000016
                                      </td>
                                      <td>
                                          TAGNE Jona
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          655889944
                                      </td>
                                      <td>
                                          j.tagne@gmail.com
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          P000017
                                      </td>
                                      <td>
                                          MAGNE Janne
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          655889944
                                      </td>
                                      <td>
                                          j.tagne@gmail.com
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          P000018
                                      </td>
                                      <td>
                                          TAGNE Jona
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          655889944
                                      </td>
                                      <td>
                                          j.tagne@gmail.com
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          P000019
                                      </td>
                                      <td>
                                          TAGNE Jona
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          655889944
                                      </td>
                                      <td>
                                          j.tagne@gmail.com
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          P000020
                                      </td>
                                      <td>
                                          TAGNE Jona
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          655889944
                                      </td>
                                      <td>
                                          j.tagne@gmail.com
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          P000021
                                      </td>
                                      <td>
                                          TAGNE Jona
                                      </td>
                                      <td>
                                          Cameroon
                                      </td>
                                      <td>
                                          655889944
                                      </td>
                                      <td>
                                          j.tagne@gmail.com
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
