<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">SDK Game scheduler</h3>
              <p class="card-category">
                  Manage your appointments using one of our products
                  <a target="_blank" href="https://sdk-games-scheduler.000webhostapp.com/">SDK Game scheduler</a>. made with <i class="fa fa-heartbeat" aria-hidden="true"></i> by IRT_3 Team
                  <a href="http://www.sdkgames.com/" target="_blank">SDK Games Africa</a>
              </p>
          </div>
            <div class="container-fluid">
                <div class="card card-plain">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <div class="iframe-container d-none d-lg-block">
                                    <iframe src="https://sdk-games-scheduler.000webhostapp.com/">
                                        <p>Your browser does not support iframes.</p>
                                    </iframe>
                                </div>
                                <div class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">
                                    <iframe src="https://sdk-games-scheduler.000webhostapp.com/">
                                        <p>Your browser does not support iframes.</p>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
  </div>
</div>
